---
import type { Props } from '@astrojs/starlight/props';
import MobileMenuFooter from '@astrojs/starlight/components/MobileMenuFooter.astro';
import { getEntry } from 'astro:content';

const entry = await getEntry('i18n', Astro.currentLocale ?? '');
const prefix = Astro.currentLocale == 'en' ? '' : Astro.currentLocale;
const { nested } = Astro.props;
---

<nav class:list={{ 'top-level': !nested }}>
  <ul>
    <li>
      <strong>{entry?.data['sidebar.gettingStarted']}</strong>
      <ul>
        <li>
          <a
            href={`${prefix}/index`}
            title={entry?.data['sidebar.introduction']}
            >{entry?.data['sidebar.introduction']}</a
          >
        </li>
        <li><a href={`${prefix}/FAQ`}>{entry?.data['sidebar.faq']}</a></li>
        <li>
          <a href={`${prefix}/security`}
            >{entry?.data['sidebar.report_vulnerability']}</a
          >
        </li>
      </ul>
    </li>
    <li>
      <strong>{entry?.data['sidebar.translation_contribution']}</strong>
      <ul>
        <li>
          <a href={`${prefix}/how-to-translate-files`}>
            {entry?.data['sidebar.translate_resources']}</a
          >
        </li>
        <li>
          <a href={`${prefix}/how-to-proofread-files`}
            >{entry?.data['sidebar.proofread_translations']}</a
          >
        </li>
      </ul>
    </li>
    <li>
      <strong>{entry?.data['sidebar.code_contribution']}</strong>
      <ul>
        <li>
          <a href={`${prefix}/how-to-setup-freecodecamp-locally`}
            >{entry?.data['sidebar.setup_freecodecamp']}</a
          >
        </li>
        <li>
          <a href={`${prefix}/codebase-best-practices`}
            >{entry?.data['sidebar.best_practices']}</a
          >
        </li>
        <li>
          <a href={`${prefix}/how-to-contribute-to-the-codebase`}
            >{entry?.data['sidebar.work_on_codebase']}</a
          >
        </li>

        <li>
          <a href={`${prefix}/how-to-work-on-coding-challenges`}
            >{entry?.data['sidebar.work_on_coding_challenges']}</a
          >
        </li>
        <li>
          <a href={`${prefix}/curriculum-help`}
            >{entry?.data['sidebar.use_the_curriculum_helpers']}</a
          >
        </li>
        <li>
          <a href={`${prefix}/how-to-work-on-the-component-library`}
            >{entry?.data['sidebar.work_on_component_library']}</a
          >
        </li>
        <li>
          <a href={`${prefix}/how-to-work-on-practice-projects`}
            >{entry?.data['sidebar.work_on_practice_projects']}</a
          >
        </li>
        <li>
          <a href={`${prefix}/how-to-setup-freecodecamp-mobile-app-locally`}
            >{entry?.data['sidebar.work_on_mobile_app']}</a
          >
        </li>
        <li>
          <a href={`${prefix}/how-to-work-on-tutorials-that-use-coderoad`}
            >{entry?.data['sidebar.coderoad']}</a
          >
        </li>
        <li>
          <a href={`${prefix}/how-to-work-on-localized-client-webapp`}
            >{entry?.data['sidebar.work_on_webapp']}</a
          >
        </li>
        <li>
          <a href={`${prefix}/how-to-add-playwright-tests`}
            >{entry?.data['sidebar.work_on_playwright_tests']}</a
          >
        </li>
        <li>
          <a href={`${prefix}/how-to-help-with-video-challenges`}
            >{entry?.data['sidebar.work_on_video_challenges']}</a
          >
        </li>
        <li>
          <a href={`${prefix}/how-to-work-on-the-docs-theme`}
            >{entry?.data['sidebar.work_on_documentation']}</a
          >
        </li>
        <li>
          <a href={`${prefix}/how-to-open-a-pull-request`}
            >{entry?.data['sidebar.open_a_pull_request']}</a
          >
        </li>
      </ul>
    </li>
    <li>
      <strong>{entry?.data['sidebar.additional_guides']}</strong><ul>
        <li>
          <a href={`${prefix}/curriculum-file-structure`}
            >{entry?.data['sidebar.file_structure']}</a
          >
        </li>
        <li>
          <a href={`${prefix}/how-to-catch-outgoing-emails-locally`}
            >{entry?.data['sidebar.debug_outgoing_emails_locally']}</a
          >
        </li>
        <li>
          <a href={`${prefix}/how-to-setup-wsl`}
            >{entry?.data['sidebar.setup_fcc_on_wsl']}</a
          >
        </li>
        <li>
          <a href={`${prefix}/how-to-use-docker-on-windows-home`}
            >{entry?.data['sidebar.docker_on_windows_home']}</a
          >
        </li>
        <li>
          <a href={`${prefix}/user-token-workflow`}
            >{entry?.data['sidebar.user_token_workflow']}</a
          >
        </li>
        <li>
          <a href={`${prefix}/troubleshooting-development-issues`}
            >{entry?.data['sidebar.troubleshooting_development_issues']}</a
          >
        </li>
        <li>
          <a href={`${prefix}/authors-analytics-manual`}
            >{entry?.data['sidebar.authors_analytics_manual']}</a
          >
        </li>
      </ul>
    </li>
  </ul>
  <hr />
  <ul>
    <li>
      <strong>{entry?.data['sidebar.flight_manuals']}</strong>
      <ul>
        <li>
          <a href={`${prefix}/moderator-handbook`}
            >{entry?.data['sidebar.moderator_handbook']}</a
          >
        </li>
        <li>
          <a href={`${prefix}/reply-templates`}
            >{entry?.data['sidebar.reply_templates']}</a
          >
        </li>
        <li>
          <a href={`${prefix}/language-lead-handbook`}
            >{entry?.data['sidebar.language_lead_handbook']}</a
          >
        </li>
        <li>
          <a href={`${prefix}/devops`}
            >{entry?.data['sidebar.devops_handbook']}</a
          >
        </li>
        <li>
          <a href={`${prefix}/courses-vscode-extension`}
            >{entry?.data['sidebar.courses_vscode_extension']}</a
          >
        </li>
        <li>
          <a href={`${prefix}/how-to-enable-new-languages`}
            >{entry?.data['sidebar.enable_new_language']}</a
          >
        </li>
      </ul>
    </li>
  </ul>
  <hr />
  <ul>
    <li>
      <strong>{entry?.data['sidebar.our_community']}</strong><ul>
        <li>
          <a href='https://github.com/freecodecamp/freecodecamp'
            ><strong>{entry?.data['sidebar.github']}</strong></a
          >
        </li>
        <li>
          <a href='https://freecodecamp.org/forum/c/contributors'
            ><strong>{entry?.data['sidebar.discourse_forum']}</strong></a
          >
        </li>
        <li>
          <a href='https://discord.gg/PRyKn3Vbay'
            ><strong>{entry?.data['sidebar.chat_server']}</strong></a
          >
        </li>
      </ul>
    </li>
  </ul>
</nav>
<div class='md:sl-hidden'>
  <MobileMenuFooter {...Astro.props} />
</div>

<style>
  ul {
    --sl-sidebar-item-padding-inline: 0.5rem;
    list-style: none;
    padding: 0;
  }

  li {
    overflow-wrap: anywhere;
  }

  ul ul li {
    margin-inline-start: var(--sl-sidebar-item-padding-inline);
    border-inline-start: 1px solid var(--sl-color-hairline-light);
    padding-inline-start: var(--sl-sidebar-item-padding-inline);
  }

  .large {
    font-size: var(--sl-text-lg);
    font-weight: 600;
    color: var(--sl-color-white);
  }

  .top-level > li + li {
    margin-top: 0.75rem;
  }

  summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2em var(--sl-sidebar-item-padding-inline);
    line-height: 1.4;
    cursor: pointer;
    user-select: none;
  }
  summary::marker,
  summary::-webkit-details-marker {
    display: none;
  }

  .caret {
    transition: transform 0.2s ease-in-out;
    flex-shrink: 0;
  }
  :global([dir='rtl']) .caret {
    transform: rotateZ(180deg);
  }
  [open] > summary .caret {
    transform: rotateZ(90deg);
  }

  a {
    display: block;
    border-radius: 0.25rem;
    text-decoration: none;
    color: var(--sl-color-gray-2);
    padding: 0.3em var(--sl-sidebar-item-padding-inline);
    line-height: 1.4;
  }

  a:hover,
  a:focus {
    color: var(--sl-color-white);
  }

  [aria-current='page'],
  [aria-current='page']:hover,
  [aria-current='page']:focus {
    font-weight: 600;
    color: var(--sl-color-text-invert);
    background-color: var(--sl-color-text-accent);
  }

  a > *:not(:last-child),
  .group-label > *:not(:last-child) {
    margin-inline-end: 0.25em;
  }

  @media (min-width: 50rem) {
    .top-level > li + li {
      margin-top: 0.5rem;
    }
    .large {
      font-size: var(--sl-text-base);
    }
    a {
      font-size: var(--sl-text-sm);
    }
  }
</style>
